.grid {
    color: red;
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    display: grid;
    height: 90vh;
    background-color: antiquewhite;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(9, 1fr);
    gap: 5px;
}

.item--1 {
    background-color: pink;
    grid-column: 1 / 5;
    grid-row: 6 / 10;
}

.item--2 {
    background-color: lightblue;
    grid-column: 2 / 6;
    grid-row: 1 / 5;
}

.item--3 {
    background-color: lightgreen;
    grid-column: 2 / 9;
    grid-row: 5 / 6;
}

.item--4 {
    background-color: lightslategray;
    grid-column: 6 / span 3;
    grid-row: 1 / 5;
}

.picture {
    text-align: right;
}

.picture__img {
    height: 100%;
    min-width: 50%;
    max-width: 100%;
    object-fit: cover;
    object-position: center;
}